[submodule "mobile"]
	path = mobile
	url = https://github.com/Project-G-Org/Project-G-Mobile.git

[submodule "pangoliny"]
	path = pangoliny
	url = https://github.com/Project-G-Org/project-g-server.git

[submodule "client"]
	path = client
	url = https://github.com/Project-G-Org/project-g-client.git